*{
	margin:0px;
	padding:0px;
}

#wrapper{
	width: 960px;
	margin: 0 auto;
	background-color: blue;

}

h1{
	margin-bottom: 20px;
	color: white;
	font-size: 50px;
	border: 1px solid red;
}

p{
	margin-bottom: 20px;
	color: white;


}